body {
    background-color: white;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0%;
    }
    

    /*header*/
    header {
    background-color: darkcyan;
    text-align: center;
    width: 100%;
    top: 0%;
    position: fixed;
    }


    li {
    display: inline-block;
    height: 20px;
    width: 100px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: white;
    background-color: lightseagreen;
    box-sizing: content-box;
    border-radius: 5px;
    
    }

    ul a{
    color: white;
    text-decoration: none;
    }

    li:hover {
    background-color: mediumturquoise;
    border-style: none;
    }
    /*header*/



    form {
    font-size: small;
    margin: 77px 10px 10px 15px;
    padding: 5px 10px 5px 5px;
    color: white;
    background-color: lightseagreen;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
    }


    h1 {
    margin: -3px 0px 0px 5px;
    }

    
    input {
    display: block;
    width: 400px;
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 0px 5px;
    box-sizing: border-box;
    border-radius: 5px; box-shadow: inset 2px 2px 5px teal;
    }
    

    textarea {
    display: block;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 5px 0px 5px 5px;
    padding: 5px 5px 5px 5px;
    width: 400px;
    max-width: 400px;
    max-height: 275px;
    min-height: 75px;
    min-width: 400px;
    height: 75px;
    box-sizing: border-box;
    border-radius: 5px; box-shadow: inset 2px 2px 5px teal;
    }



    button {
    font-family: Verdana, Tahoma, sans-serif;
    display: block;
    text-align: center;
    margin: 10px 0px 5px 5px;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    border-radius: 4px; box-shadow: inset 2px 2px 5px teal;
    }
    button:hover {
    background-color: paleturquoise;
    border-color: aquamarine;
    }
    button:active {
    background-color: teal;
    color: white;
    border-radius: 4px; box-shadow: inset 2px 2px 5px lightcyan;
    }


    footer {
    font-size: small;
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: fixed;
    bottom: 0%;
    background-color: darkcyan;
    color: white;
    text-align: left;
    }