    body {
    background-color: white;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0px 0px 0px 0px;
    }


    header {
    background-color: darkcyan;
    text-align: center;
    width: 100%;
    top: 0%;
    position: fixed;
    }


    li {
    display: inline-block;
    height: 20px;
    width: 100px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: white;
    background-color: lightseagreen;
    box-sizing: content-box;
    border-radius: 5px;
    }

    ul a {
    color: white;
    text-decoration: none;
    }

    li:hover {
    background-color: mediumturquoise;
    border-style: none;
    }



    p {
    margin: 67px 5px -9px 13px;
    padding: 10px 10px 10px 10px;
    font-size: small;
    }


    #tekst {
    font-size: medium;
    }

    span {
    font-size: small;   
    width: 469px; 
    }



    #landscape {
    margin: 0px 0px 5px 5px;
    width: 60%;
    height: 458px;
    box-sizing: border-box;
    border-radius: 5px;
    }


    footer {
    font-size: small;
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: fixed;
    bottom: 0%;
    background-color: darkcyan;
    color: white;
    text-align: left;
    }