* {
    box-sizing:border-box;
}



[class*="col-"] {
    float: left;
    padding: 15px;
    }
    
    [class*="col-"] {
    width: 100%;
    } 
    
    @media only screen and (min-width: 768px)
    
    
    {
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    }



.header {
min-width: 100%;
padding: 5px;
max-height: 70px;
background-image: url("lelystad.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
text-align: center;
font-family: Verdana, Tahoma, sans-serif;
font-size: x-large;
color: white;
text-shadow: 0px 4px 4px black;
line-height: 23px;
position: inherit;
}

.footer {
min-height: 30px;
min-width: 100%;
font-size: 13px;
padding: 15px;
background-color: dodgerblue;
color: white;
text-align: center;
margin: 0 auto;
font-family: Verdana, Tahoma, sans-serif;
}



.menu ul {
list-style-type: none;
margin: 0px;
padding: 0px;
margin-top: 25px;
font-family: Verdana, Tahoma, sans-serif;
font-size: 13px;
}

.menu li {
padding: 5px;
margin-bottom: 7px;
background-color: deepskyblue;
color: black;
}
.menu li:hover {
background-color: rgb(155, 212, 247);

}




.attracties {
margin-top: 40px;
margin-bottom: 40px;
padding: 15px;
background-color: skyblue;
font-family: Verdana, Tahoma, sans-serif;

}

p {
font-size: 13px;
}

#aviodrome {
float: right;
max-width: 200px; 
max-height: 200px;
padding: 5px;
}



#natuurpark {
float: right;
max-width: 200px; 
max-height: 200px;
padding: 5px;

}

.row::after {
content: "";
clear: both;
display: block;
}


