/*header*/
header {
    background-color: darkslategray; 
    color: silver; 
    width: 100%;
    height: 155px;
}


/*table*/
table {
    background-color: black;
    color: black;
    width: 100%; 
    height: 150px;
}


/*cellen*/
#cel1 {
    background-color: mediumvioletred;
}

#cel2 {
    background-color: tomato;
}

#cel3 {
    background-color: gold;
}

#cel4 {
    background-color: darkturquoise;
}

#cel5 {
    background-color: deeppink;
}

#cel6 {background-color: coral;
}

#cel7 {background-color: yellow
}

#cel8 {background-color: aquamarine;
}

#cel9 {background-color: hotpink;
}

#cel10 {background-color: orangered;
}

#cel11 {background-color: khaki;
}

#cel12 {background-color: lightseagreen;
}

#cel13 {background-color: palevioletred;
}

#cel14 {background-color: orange;
}

#cel15 {background-color: lemonchiffon;
}

#cel16 {background-color: cyan;
}


/*footer*/
footer {
    background-color: darkslategray; 
    color: silver; 
    width: 100%; 
    height: 155px;
}





